<div class="my-component" style="width:500px;height:500px">
    This component is defined in the <strong>Blazor.Components</strong> library.
</div>

<img src="/_content/Blazor.Components/spharos.png" />